/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* VARIABLER */
html {
  --primary-color: black; /*tekst*/
  --secondary-color: #f2ead6; /*body main*/
  --tredje-color: #ffa101; /*H1 - organge*/
  --fjerde-color: #b3dee5; /*lyseblå*/
  --femte-color: #31525b; /*mørke blå/grøn*/
  --sjette-color: #fae6b1; /*gul*/
}
html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary-color);
  list-style: none;
}

main {
  margin: 0 auto;
}

footer {
  background-color: var(--secondary-color);
  color: var(--femte-color);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer_navn p {
  background-color: var(--secondary-color);
  color: var(--femte-color);
  max-width: none;
}

.footer_iconer {
  display: inline-flex;
  color: var(--femte-color);
  gap: 14%;
  margin-top: 2%;
}

/************ FONTE START ************/
@font-face {
  font-family: "abril_extra_bold";
  src: url("fonts/abril_display_extrabold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "abril_fat_face";
  src: url("fonts/abril_fatface-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "josefin_semi_bold";
  src: url("fonts/josefinsans-semibold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "josefin_bold";
  src: url("fonts/josefinsans-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/************ TEKST START ************/
h1 {
  font-family: "abril_extra_bold", sans-serif;
  color: var(--tredje-color);
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

h2 {
  font-family: "josefin_semi_bold";
  font-size: 2rem;
  color: var(--femte-color);
  font-style: normal;
}
h2 span {
  color: var(--femte-color);
}

h3 {
  font-family: "josefin_bold", sans-serif;
  color: var(--femte-color);
  font-size: 1.4rem;
  font-weight: bold;
}

h4 {
  font-family: "josefin_bold", sans-serif;
  color: var(--tredje-color);
  font-size: 1.3rem;
  font-weight: bold;
}

p {
  font-family: "josefin_semi_bold", sans-serif;
  color: black;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 65ch;
  text-wrap: balance;
}

a {
  font-family: "josefin_semi_bold", sans-serif;
  font-size: 0.9rem;
  max-width: 65ch;
}

a:hover {
  color: var(--tredje-color);
  transition: color 0.7s ease;
}

/************ INTRO TEKST START ************/

section {
  max-width: 1400px;
  padding: 5% 4% 0 4%;
}

.intro_tekst {
  margin: 3% 0%;
  p {
    font-size: 1.1rem;
  }
  br {
    margin-bottom: 3%;
  }
}

/************ STI START ************/
/* sti_ramme start -  fået hjælp af tutor, chatgpt, brugt i tema 3 kode og tema 5 kode*/
.top_sti a:hover {
  color: var(--senary);
  transition: 0.7s ease;
}

.sti_ramme {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul.sti {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: var(--sjette-color);
  flex-wrap: wrap;
  color: var(--femte-color);
  padding: 1% 2%;
}

ul.sti li {
  margin-right: 2%;
}

ul.sti li:last-child {
  margin-right: 0;
}

ul.sti li a {
  color: var(--femte-color); /* Add a color to all links inside the list */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.7s ease; /* Giver en jævn farveændringseffekt ved hover */
  letter-spacing: 0.01rem;
}

ul.sti li a:hover {
  color: var(--tredje-color);
  text-decoration: none;
  transition: color 0.7s ease;
}

.prik {
  color: var(--femte-color);
  font-size: 1.5rem;
  display: none;
}

/************ LINJE ************/
.linje {
  margin: 4% 4%;
}

/************ KNAP START ************/ /* Style the link as a button - fra chat gbt*/
.knap {
  display: inline-block;
  padding: 15px 28px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--fjerde-color);
  color: var(--femte-color);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.7s ease;
  box-shadow: 0px 20px 43px -12px rgba(0, 0, 0, 35%);
}

.knap:hover {
  background-color: var(--tredje-color);
  color: var(--femte-color);
  transition: 0.7s ease;
}

/************ BACK TO TOP START ************/
.top {
  margin: 20px 60px 20px 0px;
}
.top img {
  width: 13%;
  margin-left: auto;
  transition: 1s ease;
}

.top img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

/************ VIDEN START ************/
.gul_kasse {
  background-color: var(--sjette-color);
}

.viden {
  max-width: 1400px;
  padding: 5% 4%;
  br {
    margin-bottom: 3%;
  }
}

.viden_overskrift {
  margin-bottom: 4%;
}

.viden_tekst {
  margin: 4% 0%;
}

.tekst_billede {
  display: block;
}

/************ FÆRDIGHEDER OG KOMPETENCER / UDFORDRINGER START ************/
.kompetencer_udfordringer {
  margin: 5% 4%;
  max-width: 1400px;
  br {
    margin-bottom: 3%;
  }
}

.kompetencer_overskrift,
.udfordringer_overskrift {
  margin-bottom: 2%;
}

.kompetencer_tekst {
  margin-bottom: 9%;
}

/************ OPGAVER START ************/
.opgaver {
  background-color: var(--sjette-color);
  margin: 5% 4%;
  padding: 5% 0%;
  max-width: 1400px;
}
.opgaver_overskrift_tekst {
  text-align: center;
  align-items: center;
  p {
    font-size: 1.05rem;
    max-width: none;
  }
}

.kasse_1,
.kasse_2,
.kasse_3 {
  background-color: var(--femte-color);
  border-radius: 30px;
  margin: 5% 0%;
  padding: 5% 4%;
  box-shadow: 0px 20px 43px -12px rgba(0, 0, 0, 35%);
  p {
    color: var(--secondary-color);
  }
}

.opg_1_overskrift,
.opg_2_overskrift {
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.opg_1_billede,
.opg_2_billede {
  align-self: center;
  margin-bottom: 20px;
  filter: grayscale(100%);
  cursor: pointer;
  transition: filter 0.7s ease;
}

.opg_1_billede:hover,
.opg_2_billede:hover {
  filter: grayscale(0%) brightness(110%); /* Brug komma for at kombinere flere filtereffekter */
  transition: filter 0.7s ease; /* Ændret transition til filter */
}

.opg_1_tekst,
.opg_2_tekst {
  margin: 3% 1%;
}

.opg_1_knap,
.opg_2_knap {
  text-align: center;
  align-self: center;
}

/************ OM MIG START ************/
.om_mig {
  margin: 5% 4%;
  br {
    margin-bottom: 3%;
  }
}
.om_mig_grid {
  h3 {
    text-align: center;
    margin-bottom: 3%;
    letter-spacing: 0.13rem;
  }
  p {
    line-height: 1;
    margin-bottom: 5%;
    font-size: 1.1rem;
  }
}
.om_mig_overskrift_billede {
  margin: 0 auto;
  max-width: 1400px;
}

.gul_kasse_2 {
  display: none;
}

/* KONTAKT */
.kontakt {
  background-color: var(--femte-color);
  margin-inline: 20%;
  margin-bottom: 5%;
  padding: 6% 0%;
  box-shadow: 0px 20px 43px -12px rgba(0, 0, 0, 35%);

  h3 {
    color: var(--secondary-color);
  }
  p {
    color: var(--fjerde-color);
  }
  img {
    width: 7%;
  }
}

.oplysninger {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-bottom: 2%;
  p {
    margin-bottom: 0%;
  }
}

/* UDDANNELSER */
.uddannelse {
  background-color: var(--sjette-color);
  padding: 5% 10%;
}

.uddannelse_tekst {
  display: grid;
  grid-template-columns: 1fr 1fr;
  span {
    font-size: 0.7rem;
    line-height: 2;
  }
}

/* ERFARING */
.erfaring {
  background-color: var(--femte-color);
  padding: 5% 10%;
  box-shadow: 0px 20px 43px -12px rgba(0, 0, 0, 35%);
  h3 {
    color: var(--tredje-color);
  }
}
.erfaring_tekst {
  display: grid;
  grid-template-columns: 1fr 1fr;
  p {
    color: var(--sjette-color);
  }
  span {
    font-size: 0.7rem;
    line-height: 2;
  }
}

/* FÆRDIGHEDER */
.skills {
  background-color: var(--sjette-color);
  padding: 5%;
}

.programmer_kodning {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.programmer_iconer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 57%;
  padding-top: 4%;
  gap: 10%;
}
.kodning p {
  padding-top: 6%;
}

/* SPROG */
.sprog {
  margin-inline: 10%;
  padding: 5%;

  span {
    font-size: 0.7rem;
  }
}

.sprog_tekst {
  display: flex;
  justify-content: space-between;
}

/************ TABLET VERSION ************/
/************ TABLET VERSION ************/
/************ TABLET VERSION ************/
@media screen and (min-width: 650px) {
  /************ TEKST START ************/
  h1 {
    font-size: 4rem;
    letter-spacing: 0.3rem;
  }
  h2 {
    font-size: 3.3rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  a {
    font-size: 1rem;
  }

  /* KNAP */
  .knap {
    padding: 23px 60px;
  }

  /* TOP KNAP */

  .top {
    margin: 30px 60px 0px 0px;
  }

  .top img {
    width: 8%;
  }
  /************ INTRO TEKST START TABLET ************/
  section {
    padding: 5% 5% 0 5%;
  }

  .intro_tekst {
    margin: 2% 0%;
    br {
      margin-bottom: 2%;
    }
  }
  .intro_tekst p {
    font-size: 1.2rem;
  }

  /************ STI START TABLET ************/

  ul.sti li {
    margin-right: 10px;
  }

  ul.sti li a {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }

  .prik {
    font-size: 2rem;
  }

  /************ LINJE TABLET ************/
  .linje {
    padding-inline: 9%;
    margin: 3% 4%;
  }
  /************ VIDEN START TABLET ************/

  .viden {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 5%;
    align-items: center;
  }

  .viden_billede {
    grid-row: span 2;
    margin: 0 auto;
    img {
      margin-top: 4%;
    }
  }

  .viden_tekst {
    margin-top: 0px;
  }

  /************ FÆRDIGHEDER 0G KOMPETENCER / UDFORDRINGER START TABLET************/
  .kompetencer_udfordringer {
    margin: 5% 5%;
  }
  .kompetencer_tekst {
    margin-bottom: 4%;
  }
  /************ OPGAVER START TABLET ************/
  .opgaver {
    margin: 5% 5%;
    padding: 5% 0%;
  }
  .opgaver_overskrift_tekst p {
    font-size: 1.15rem;
  }

  .kasse_1,
  .kasse_2,
  .kasse_3 {
    display: grid;
    margin: 4% 0%;
    padding: 4% 2%;
    p {
      font-size: 1rem;
    }
  }

  .opg_1_overskrift,
  .opg_2_overskrift,
  .opg_1_billede,
  .opg_2_billede {
    margin-bottom: 0px;
  }

  .opg_1_overskrift {
    grid-row: 1/2;
    grid-column: 4/6;
  }

  .opg_1_billede {
    grid-row: 1 / 4;
    grid-column: 1/4;
  }
  .opg_1_tekst {
    grid-row: 2/2;
    grid-column: 4/6;
    margin: 3%;
    br {
      margin-bottom: 2%;
    }
  }
  .opg_1_knap {
    grid-row: 3/3;
    grid-column: 4/6;
  }

  .opg_2_overskrift {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .opg_2_billede {
    grid-row: 1 / 4;
    grid-column: 3/6;
  }
  .opg_2_tekst {
    grid-row: 2/2;
    grid-column: 1/3;
    margin: 3%;
    br {
      margin-bottom: 2%;
    }
  }
  .opg_2_knap {
    grid-row: 3/3;
    grid-column: 1/3;
  }

  /************ OM MIG START TABLET ************/
  .om_mig {
    margin: 5% 5%;
  }

  .om_mig_overskrift_billede {
    align-items: center;
    p {
      font-size: 1.2rem;
    }
    img {
      margin: 0 auto;
    }
  }

  .om_mig_grid {
    display: grid;
    grid-template-columns: auto minmax(10%, 650px) minmax(10%, 650px) auto;
    h3 {
      text-align: left;
    }
    p {
      font-size: 1.3rem;
    }
  }
  .gul_kasse_2 {
    background-color: var(--sjette-color);
    display: block;
    grid-column: 1/5;
    grid-row: 3/9;
  }

  /* KONTAKT TABLET */
  .kontakt {
    grid-column: 3/5;
    grid-row: 1/3;
    margin-inline: 10%;
    margin-bottom: 0%;
    padding: 5% 0%;
    h3 {
      text-align: center;
    }
  }

  /* UDDANNELSER TABLET */
  .uddannelse {
    grid-column: 2/5;
    grid-row: 3/5;
    margin-inline: 4.5%;
    padding: 5%;
    background-color: transparent;
  }
  .uddannelse_tekst {
    span {
      font-size: 0.9rem;
    }
  }

  /* ERFARING TABLET */
  .erfaring {
    grid-column: 2/5;
    grid-row: 5/7;
    margin-inline: 11%;
    padding: 5%;
  }
  .erfaring_tekst {
    span {
      font-size: 0.9rem;
    }
  }

  /* FÆRDIGHEDER TABLET */
  .skills {
    grid-column: 2/5;
    grid-row: 9/8;
    margin-inline: 4.5%;
    padding: 5%;
    background-color: transparent;
  }

  .programmer_iconer {
    width: 57%;
  }

  .kodning {
    margin: 0 auto;
    p {
      padding-top: 28%;
    }
  }

  /* SPROG TABLET */
  .sprog {
    grid-column: 2/5;
    grid-row: 9/9;
    margin-inline: 4.5%;
    padding: 5%;
    h3 {
      text-align: center;
    }
    span {
      font-size: 0.9rem;
    }
  }

  .sprog_tekst {
    display: flex;
    justify-content: space-between;
    padding-inline: 16%;
  }
}

/************ DESKTOP VERSION ************/
/************ DESKTOP VERSION ************/
/************ DESKTOP VERSION ************/
@media screen and (min-width: 1000px) {
  /************ TEKST START ************/
  h1 {
    font-size: 4.4rem;
  }
  h2 {
    font-size: 3.7rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.4rem;
  }
  a {
    font-size: 1rem;
  }

  /* KNAP DESKTOP */
  .knap {
    padding: 23px 60px;
  }

  /* TOP KNAP DESKTOP */

  .top {
    margin: 30px 60px 0px 0px;
  }

  .top img {
    width: 4%;
  }
  /************ INTRO TEKST START DESKTOP ************/
  section {
    padding: 5% 7% 0 7%;
  }

  .intro_tekst p {
    font-size: 1.5rem;
  }

  /************ STI START DESKTOP ************/

  ul.sti li a {
    font-size: 1.5rem;
  }

  /************ VIDEN START DESKTOP ************/

  .viden {
    padding: 5% 7%;
    align-items: inherit;
  }

  /************ FÆRDIGHEDER 0G KOMPETENCER / UDFORDRINGER START DESKTOP ************/
  .kompetencer_udfordringer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 7%;
    gap: 2%;
  }

  /************ OPGAVER START DESKTOP ************/
  .opgaver {
    margin: 5% 7%;
  }
  .opgaver_overskrift_tekst p {
    font-size: 1.34rem;
  }

  .kasse_1,
  .kasse_2,
  .kasse_3 {
    padding: 5% 6%;
    p {
      font-size: 1.4rem;
    }
  }

  .opg_1_overskrift {
    grid-row: 1/2;
    grid-column: 3/5;
  }

  .opg_1_billede {
    grid-row: 1 / 4;
    grid-column: 1/3;
  }
  .opg_1_tekst {
    grid-row: 2/2;
    grid-column: 3/5;
    margin: 3% 3% 3% 13%;
  }

  .opg_1_knap {
    grid-row: 3/3;
    grid-column: 3/5;
  }

  .opg_2_overskrift {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .opg_2_billede {
    grid-row: 1 / 4;
    grid-column: 3/5;
  }
  .opg_2_tekst {
    grid-row: 2/2;
    grid-column: 1/3;
    margin: 3%;
  }
  .opg_2_knap {
    grid-row: 3/3;
    grid-column: 1/3;
  }

  /************ OM MIG START DESKTOP ************/
  .om_mig {
    margin: 5% 7%;
  }

  .om_mig_overskrift_billede {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7%;
    p {
      font-size: 1.4rem;
    }
    img {
      margin: 0 auto;
    }
  }

  /* minmax betyder 30% men max 700px det svarer til en max with på 1400px - auto gør at den gule kasse går ud til kanten i begge sider*/
  .om_mig_grid {
    display: grid;
    grid-template-columns: auto minmax(30%, 700px) minmax(30%, 700px) auto;
    p {
      font-size: 1.35rem;
    }
  }

  .gul_kasse_2 {
    grid-column: 1/5;
    grid-row: 2/6;
  }

  /* KONTAKT DESKTOP */
  .kontakt {
    grid-column: 3/4;
    grid-row: 1/3;
    margin-inline: 20%;
    padding: 3% 0%;
  }

  /* UDDANNELSER DESKTOP */
  .uddannelse {
    grid-column: 2/3;
    grid-row: 2/5;
    margin-inline: 11.5%;
  }

  /* ERFARING DESKTOP */
  .erfaring {
    grid-column: 2/3;
    grid-row: 5/7;
    margin-inline: 11.5%;
    padding: 5%;
  }

  /* FÆRDIGHEDER DESKTOP */
  .skills {
    grid-column: 3/4;
    grid-row: 4/6;
    margin-inline: 10%;
  }

  .programmer_iconer {
    width: 77%;
  }

  .kodning {
    p {
      padding-top: 24%;
    }
  }
  /* SPROG DESKTOP */
  .sprog {
    grid-column: 3/4;
    grid-row: 6/7;
  }

  .sprog_tekst {
    padding-inline: 0%;
  }
}
