/* Blanding af noget fra undervisning og W3 schools */
.head_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding: 20px;
  font-family: "josefin_semi_bold", sans-serif;
}
.logo img {
  width: 21%;
}
.head_menu a:hover,
.menu_tema:hover {
  color: var(--tredje-color);
  transition: color 0.7s ease;
}

.head_menu a,
.menu_tema {
  font-size: 1.2rem;
  list-style: none;
  text-decoration: none;
  font-family: "josefin_semi_bold", sans-serif;
  color: var(--femte-color);
  cursor: pointer;
}

.menu_tema {
  margin-right: 30px;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.7s ease;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 2rem;
  color: var(--secondary-color);
  display: block;
  transition: 0.7s ease;
}

.overlay a:hover,
.overlay a:focus {
  color: var(--tredje-color);
  transition: 0.7s ease;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: "josefin_semi_bold", sans-serif;
}
.overlay-content a {
  font-family: "josefin_semi_bold", sans-serif;
}

@media screen and (min-width: 800px) {
  .head_menu a,
  .menu_tema {
    font-size: 1.7rem;
  }
}
